body {
  background: DodgerBlue;
  color: white;
  font: bold 75px Helvetica, Arial;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  width: 400px;
  height: 400px;
}

a {
  color: white;
  text-decoration: none; 
}

